.row {
  width: 600px;
  height: auto;
  margin: auto;
}

.search-results {
  margin-bottom: 20px;
}

.search-results h2 {
  margin-bottom: 20px;
}

.search-results .search-results-card {
  margin-top: 10px;
}
