.row {
  height: auto;
  margin: auto;
  margin-left: 25%;
  margin-right: 25%;
}

.search-results {
  margin-bottom: 20px;
}

.search-results h2 {
  margin-bottom: 20px;
}

.search-results .search-results-card {
  margin-top: 10px;
}
